node_modules
client/node_modules
server/node_modules

client/dist
server/dist

/server.env

client/.vscode/*
client/.idea

server/.vscode/*
server/.idea

.vscode/*
.idea

*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db
